body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,hr,thead,tbody,tfoot,th,td{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#333333;}
a:hover{color:#333333;}
html{-ms-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;font-size:62.5%;}
body{font-size:15px;line-height:1.5em;color:#333333;}
body,button,input,select,textarea{font-family:'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;}
b,strong{font-weight:bold;}
i,em{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
table th,table td{border:1px solid #ddd;padding:5px;}
table th{font-weight:inherit;border-bottom-width:2px;border-bottom-color:#ccc;}
img{border:0 none;width:auto\9;width:100%;vertical-align:top;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
input{line-height:normal!important;}
}
select[size],select[multiple],select[size][multiple]{border:1px solid #AAA;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video,progress{display:inline-block;}
a:visited{color:#333;}
body{background-color:#fff;}
.g-doc{overflow:hidden;margin:0 auto;}
@media only screen and (min-width:1025px){
.g-doc{max-width:320px;}
}
.clearfix:after{content:"\20";clear:both;height:0;display:block;overflow:hidden;}
.clearfix{*zoom:1;}
.mark{float: left;}.smark{ float: right;}
.footer{ height: 45px; line-height: 45px; background: #8dc5d8; text-align: center; color: #fff; position: fixed; bottom: 0; width: 100%;}
/*页面导航*/
@font-face {
	font-family: FontAwesome;
	src: url(../fonts/fontawesome-webfont.eot?v=4.3.0);
	src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format('embedded-opentype'),url(../fonts/fontawesome-webfont.woff2?v=4.3.0) format('woff2'),url(../fonts/fontawesome-webfont.woff?v=4.3.0) format('woff'),url(../fonts/fontawesome-webfont.ttf?v=4.3.0) format('truetype'),url(../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format('svg');
	font-weight: 400;
	font-style: normal
}
[class*=am-icon-]:before {
	display: inline-block;
	font: normal normal normal 1.6rem/1 FontAwesome,sans-serif;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0)
}
.amz-toolbar{ position: fixed; right: 0; bottom: 10px; width: 48px;}
.am-icon-btn,[class*=am-icon-]{text-align: center;display: inline-block;box-sizing: border-box;}
.amz-toolbar .am-icon-btn{margin-bottom:5px;width: 48px;height: 48px;font-size: 24px;line-height: 48px;	border-radius: 50%;	background:rgba(0,0,0,0.8);	color: #fff;}
.amz-toolbar .am-icon-btn:focus,.amz-toolbar .am-icon-btn: hover {background:rgba(0,0,0,0.8);color: #ff;text-decoration: none;	outline: 0;}
.amz-toolbar .am-icon-btn:active {background:rgba(0,0,0,0.8);color: #fff;}

.am-icon-arrow-up{display: none;}
.am-icon-arrow-up:before {content: "\f062";}
.am-icon-home:before {content: "\f015";}
.am-icon-send-o:before {content: "\f1d9";}
.am-icon-angle-down:before{content: "\f107";}
.am-icon-phone-square:before{content: "\f098"}
.am-active{ display: block;}
/* 焦点图 */
.swiper-container{margin:0 auto;position:relative;overflow: hidden;z-index: 1;  width: 100%; height: 100%; }
.swiper-container .swiper-slide {overflow: hidden;z-index: 1; float:left; position:relative; }
.swiper-slide a{display: block;}
.swiper-wrapper{position: relative; overflow: hidden;}
.pagination-inner{height:6px;position:absolute;bottom:10px;  z-index:100;}
.pagination-inner .swiper-pagination-switch{display:inline-block;width:6px;height:6px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background-color:#b4b8bd;margin:0 2px;font-size:0px;vertical-align:top;}
.pagination-inner .swiper-active-switch{background:#fff;}
.swiper-container .swiper-slide-active{ display:block;}
#Jm-slider .pagination-inner{width:100%;text-align:center;}
#Jm-ind-slider .pagination-inner{right:10px;}

/* 焦点图 */
.m-slider{width:100%;margin:0 auto;position:relative;}
.m-slider-pic{overflow:hidden;}
.m-slider-pic ul{overflow:hidden;}
.m-slider-pic li{position:relative;float:left;width:100%; height:100%;}
.m-slider-pic li:not(:first-child){display:none;}
.m-slider-pic li a{display:block;}
.m-slider-pic li img{display:block;width:100%!important;min-height:100px;}
.m-slider-pic li .txt{width:80%;padding:0 17% 0 3%;height:50px;line-height:70px;position:absolute;bottom:0px;color:#fff;display:block;white-space:nowrap;word-wrap:normal;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;font-size:14px;background:rgba(0,0,0,0.8);background:-webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,0.8)));background:-webkit-linear-gradient(top,transparent 30%,rgba(0,0,0,0.8) 100%);background:linear-gradient(to bottom,transparent 30%,rgba(0,0,0,0.8) 100%);}
.m-slider-doc{height:6px;position:absolute;right:5px;bottom:10px;}
.m-slider-doc span{display:inline-block;width:6px;height:6px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background-color:#b4b8bd;margin:0 2px;font-size:0px;vertical-align:top;}
.m-slider-doc .current{background:#fff;}


.slider-tit{margin-bottom: 15px;  text-align: left; text-indent: 1em; width: 100%; height: 32px; line-height: 32px;color: #fff; background: #8ec6d9;}
.tabs {display: box;display:-webkit-box;display:-moz-box; width:100%; margin-bottom:0.5rem;}
.tabs span{ margin-right:2px; padding:0.5rem 0;box-flex:1;-webkit-box-flex:1; -moz-box-flex:1; display:block; background:rgba(0,0,0,.8); color:#fff; text-align:center; }
.tabs span:last-child{margin-right:0;}
.tabs span.active{ background:rgba(255,79,18,.8);}

.m-pic-list li{margin-bottom: 15px;}
.m-pic-list .m-build-pic{ position: relative;}
.m-pic-list .building-name{ position: absolute; top:25px; right:0;font-size: 12px; width: 100px; height: 30px; padding-left:10px;line-height: 30px; border-radius: 10px 0 0 10px; background:rgba(0,0,0,0.6); color: #fff;}
.m-bulid-tit{ height: 40px; background: #f4f4f4; line-height: 40px; padding: 0 15px; }
.m-bulid-tit .red{ color: #f5363e;font-size: 18px;}

#pullUp{width:100%; text-align:center;padding:0.5rem 0; font-size:1.6rem; padding-bottom:80px;}

#detail{ background: #8ec6d9;padding-bottom: 50px;}#dynamic{padding-bottom: 50px;}
.f-news{margin-bottom: 15px; background: #fff; padding:1rem 1rem; line-height: 34px;}
.f-p-name,.f-p-price{ color: #000; font-size: 2rem;}
.f-p-price{ color: #f00;}
.f-p-time{font-size: 1.6rem; line-height: 30px;}
.f-p-time span{ color: #999;}

.f-phone{margin-bottom: 10px; line-height: 26px; background: #fff;padding:0.5rem 1rem; position: relative;}
.f-phone .tel{ color: #ff4f12; font-size: 2rem;}
.am-icon-phone-square {font-size: 5rem; color: #ff4f12; position: absolute; top:10px; right: 30px;}

.f-item-detail{background: #fff; margin-bottom: 10px;}
.f-item-th{font-size: 16px; border-top:3px solid #e98383;padding-left: 1rem;border-bottom: 1px solid #f2f1f1; line-height: 32px;}
.f-item-th span{border-left:2px solid #4f4f4f;padding-left: 0.5rem;}
.dl-list{padding:1rem 1rem;}
.dl-list dt{font-size: 1.6rem; margin-bottom:0.5rem;}
.dl-list dd span{ float: left; width: 50%;}

.ul-new-list{margin:0 1rem;padding:1rem 0;}
.ul-new-list li{padding:1rem 0;overflow: hidden; zoom:1; border-bottom: 1px dotted #999;}
.ul-new-list li .s-img{float: left; width:100px; height: 100px;}
.ul-new-list li p{padding-left: 110px;}
.ul-new-list li p span{ display: block; font-weight: bold;}
.ul-new-list li:last-child{border:none;}
.ul-new-list .e-txt{float:left;}.ul-new-list .e-date{float:right; color:#c0c0c0;}
.f-item-detail .ul-new-list li{border:none; padding:0.5rem 0;}

.f-dy-tb {padding:1rem;}
.f-dy-tb .f-dy-tit{ font-size:1.6rem; display:block;margin-bottom:5px;}
.f-dy-tb p{font-size:1.6rem; line-height:30px; color:#999;}
.f-dy-img{margin:0.5rem 0;}