<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>花桥房产超市</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/css/style.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/swipe.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</head>
<body id="index">
<div class="g-doc" id="wrapper">
    <div class="m-slider">
		<div class="m-slider-pic" id="J_slideWrap">
			<ul class="">
              {{foreach from=$news item=row key=k}}
                {{if $k==0}}
                    <li><a href="{{site_url url='index/get_news'}}/{{$row.id}}" title=""><img src="/uploadfiles/news/{{$row.pic}}"/><span class="txt">{{$row.title}}</span></a></li>
                {{else}}
                    <li><a href="{{site_url url='index/get_news'}}/{{$row.id}}" title=""><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAANBAMAAAA6ZnEvAAAAMFBMVEX///8BAQECAgIDAwMEBAQFBQUGBgYHBwcICAgJCQkKCgoLCwsMDAwNDQ0ODg4PDw+j3JH3AAAAEHRSTlP///////////////////8A4CNdGQAAAAlwSFlzAAALEwAACxMBAJqcGAAAAA9JREFUCNdj+I8GGIaRAAB0TM8xY/9xnAAAAABJRU5ErkJggg==" src1="/uploadfiles/news/{{$row.pic}}"/><span class="txt">{{$row.title}}</span></a></li>
                {{/if}}
        	  {{/foreach}}
			</ul>
		</div>
		<div class="m-slider-doc" id="J_slideNav"></div>
	</div>
    <div class="slider-tit">花桥精选楼盘</div>
    <ul class="m-pic-list" id="Jm-pic-list">
    {{foreach from=$projects item=row}}
        <li>
            <a href="{{site_url url='index/get_project'}}/{{$row.id}}" target="_blank">
                <div class="m-build-pic">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAANBAMAAAA6ZnEvAAAAMFBMVEX///8BAQECAgIDAwMEBAQFBQUGBgYHBwcICAgJCQkKCgoLCwsMDAwNDQ0ODg4PDw+j3JH3AAAAEHRSTlP///////////////////8A4CNdGQAAAAlwSFlzAAALEwAACxMBAJqcGAAAAA9JREFUCNdj+I8GGIaRAAB0TM8xY/9xnAAAAABJRU5ErkJggg==" src1="/uploadfiles/pics/{{$row.bg_pic}}" />
                    <span class="building-name">{{$row.name}}</span>
                </div>
                <div class="m-bulid-tit">
                    <span class="mark">{{$row.title}}</span>
                    <span class="smark">均价<em class="red">{{$row.avg_price}}</em>元/㎡</span>
                </div>
            </a>
       </li>
     {{/foreach}}
    </ul>
    <div id="pullUp">
    </div>
</div>
{{include file="public.html"}}

<script type="text/javascript">
function $$(a){
	return(typeof a=="object")?a:document.getElementById(a);
	}
//焦点图切换
var Jwrap = $$("J_slideWrap"),
Jnav = $$("J_slideNav");
window.GfocusSlide = swipe(Jwrap, {
    auto: 5000,
    speed: 100,
    continuous: true,
    nav: Jnav
});

$(function(){
	var maxW=Math.max(document.documentElement.clientWidth,window.innerWidth);
	var imgH =Math.floor(maxW*2/3);
    $('#J_slideWrap img').height(imgH);
	$('#Jm-pic-list li img').height(imgH);
    lazyforslide();  
	lazyforselectbbs();
})
</script>
</body>
</html>


