<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>花桥房产超市</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/css/style.css">
</head>
<body id="dynamic">
<div class="g-doc">
    <div class="f-item-detail">
        <div class="f-item-th"><span>项目详情</span></div>
        <div class="f-dy-tb">
        	<span class="f-dy-tit">{{$detail.title}}</span>
        	{{$detail.content}}
        </div>
    </div>
    {{if $list}}
   <div class="f-item-detail">
        <div class="f-item-th"><span>相关动态</span></div>
        <ul class="ul-new-list">
        {{foreach from=$list item=row}}
            <li><a href="{{site_url url='index/get_news'}}/{{$row.id}}"><em class="e-txt">&middot; {{$row.title}}</em><em class="e-date">{{$row.creeated|date_format:"%Y-%m-%d"}}</em></a></li>  
        {{/foreach}}
        </ul>   
   </div>
    {{/if}}
     
</div>
<p class="footer">©宜居花桥房产超市</p>
<div class="amz-toolbar" id="amz-toolbar">
    <a href="#top" title="回到顶部" class="am-icon-btn am-icon-arrow-up" id="amz-go-top"></a>
    <a href="/getting-started/faq" title="回到首页" class="am-icon-btn am-icon-home"></a>
    <a href="/getting-started/faq" title="地图导航" class="am-icon-btn am-icon-send-o"></a>
</div>

</body>
</html>


