<p class="footer">©宜居花桥房产超市</p>
<div class="amz-toolbar" id="amz-toolbar">
    <a href="javascript:;" title="回到顶部" class="am-icon-btn am-icon-arrow-up" id="amz-go-top"></a>
    <a href="/" title="回到首页" class="am-icon-btn am-icon-home"></a>
    <a href="javascript:wxNav();" title="地图导航" class="am-icon-btn am-icon-send-o"></a>
</div>
<script>
	wx.config({
		debug: false,
		appId: '{{$wxappId}}',
		timestamp: '{{$wxtimestamp}}',
		nonceStr: '{{$wxnonceStr}}',
		signature: '{{$wxsignature}}',
		jsApiList: [
			'openLocation',
			'getLocation'
		]
	});
	
	wx.error(function (res) {
		alert(res.errMsg);
	});

	//调用微信内置地图显示
	function wxNav(){
		wx.openLocation({
			latitude: 31.288860,
			longitude: 121.145070,
			name: '花桥房产超市',
			address: '昆山花桥赛格',
			scale: 15,
			infoUrl: '/'
		});
	}
	//右侧导航
	$(window).scroll(function(){
		$(window).scrollTop()>100?$('#amz-go-top').addClass('am-active'):$('#amz-go-top').removeClass('am-active');
	});
	$('#amz-go-top').click(function(){
	    $('html,body').animate({literal}{scrollTop: 0}{/literal}, '500');
	});  
</script>
